#![enable(implicit_some)]
#![enable(unwrap_newtypes)]
#![enable(unwrap_variant_newtypes)]
(
    album_art_position: Left,
    album_art_width_percent: 40,
    default_album_art_path: None,
    show_song_table_header: false,
    draw_borders: true,
    browser_column_widths: [20, 38, 42],
    background_color: None,
    text_color: None,
    header_background_color: None,
    modal_background_color: None,
    tab_bar: (
        enabled: true,
        active_style: (fg: "black", bg: "#a7c080", modifiers: "Bold"),
        inactive_style: (),
    ),
    highlighted_item_style: (fg: "#a7c080", modifiers: "Bold"),
    current_item_style: (fg: "black", bg: "#a7c080", modifiers: "Bold"),
    borders_style: (fg: "#a7c080"),
    highlight_border_style: (fg: "#a7c080"),
    symbols: (song: "S", dir: "D", marker: "M"),
    progress_bar: (
        symbols: ["─", "─", "─"],
        track_style: (fg: "#1e2030"),
        elapsed_style: (fg: "#a7c080"),
        thumb_style: (fg: "#a7c080"),
    ),
    scrollbar: (
        symbols: ["", "", "", ""],
        track_style: (),
        ends_style: (),
        thumb_style: (fg: "blue"),
    ),
    song_table_format: [
        (
            prop: (kind: Property(Title),
                default: (kind: Text("Desconocido"))
            ),
            width_percent: 35,
        ),
        (
            prop: (kind: Property(Artist),
                default: (kind: Text("Desconocido"))
            ),
            width_percent: 20,
        ),
        (
            prop: (kind: Property(Album), style: (fg: "black"),
                default: (kind: Text("Album Desconocido"), style: (fg: "black"))
            ),
            width_percent: 30,
        ),
        (
            prop: (kind: Property(Duration),
                default: (kind: Text("-"))
            ),
            width_percent: 15,
            alignment: Right,
        ),
    ],
    header: (
        rows: [
            (
                left: [
                    (kind: Text("["), style: (fg: "#e69875", modifiers: "Bold")),
                    (kind: Property(Status(State)), style: (fg: "#e69875", modifiers: "Bold")),
                    (kind: Text("]"), style: (fg: "#e69875", modifiers: "Bold"))
                ],
                center: [
                    (kind: Property(Song(Artist)), style: (fg: "#e69875", modifiers: "Bold"),
                        default: (kind: Text("Desconocido"), style: (fg: "#e69875", modifiers: "Bold"))
                    ),
                    (kind: Text(" - ")),
                    (kind: Property(Song(Album)),
                        default: (kind: Text("Album Desconocido"))
                    )
                ],
                right: [
                ]
            ),
            (
                left: [
                    (kind: Property(Status(Elapsed))),
                    (kind: Text(" / ")),
                    (kind: Property(Status(Duration))),
                    (kind: Text(" (")),
                    (kind: Property(Status(Bitrate))),
                    (kind: Text(" kbps)"))
                ],
                center: [
                    (
                        kind: Property(Widget(States(
                            active_style: (fg: "#dbbc7f", modifiers: "Bold"),
                            separator_style: (fg: "black")))
                        ),
                        style: (fg: "#7a8478")
                    ),
                ],
                right: [
                    (kind: Property(Widget(Volume)), style: (fg: "#a7c080"))
                ]
            ),
        ],
    ),
    browser_song_format: [
        (
            kind: Group([
                (kind: Property(Track)),
                (kind: Text(" ")),
            ])
        ),
        (
            kind: Group([
                (kind: Property(Artist)),
                (kind: Text(" - ")),
                (kind: Property(Title)),
            ]),
            default: (kind: Property(Filename))
        ),
    ],
)

